{block title}
    Přihlášení
{/block}
{block content}
    <!-- LOGIN OKNO -->

    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fs-5 text-dark">Přihlášení</h5>

                    <form class="form-signin" n:name=loginForm>
                        <div class="alert alert-danger" n:if="$form->hasErrors()">
                            <ul class="list-unstyled">
                                <li n:foreach="$form->ownErrors as $error">{$error}</li>
                            </ul>
                        </div>
                        <div class="form-floating mb-3">
                            <input n:name="username" type="username" class="form-control formEmail" id="floatingInput">
                            <label for="floatingInput" class="text-muted">Uživatelské jméno</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input n:name="password" type="password" class="form-control formPassword" id="floatingPassword">
                            <label for="floatingPassword" class="text-muted">Heslo</label>
                        </div>
                        <div class="d-grid">
                            <button n:name="submit" class="btn btn-dark btn-login text-white fw-bold child" type="submit">Přihlásit se</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

{/block}