{block title}
    Po přihlášení
{/block}

{block content}
    <h1>Byl jste ustesne prihlasen. Vase id = {$user->id}</h1>
    <a n:href=":Admin:Sign:in">odhlasit se</a>

    {if $user->isAllowed('admin')}
        <h1>Tenhle text vidí uživatel, který má přístup k balíku admin</h1>
    {/if}
    {if $user->isAllowed('nakup')}
        <h1>Tenhle text vidí uživatel, který má přístup k balíku nakup</h1>
    {/if}
    {if $user->isAllowed('nadace')}
        <h1>Tenhle text vidí uživatel, který má přístup k balíku nadace</h1>
    {/if}
{/block}