{block title}
    Po přihlášení
{/block}

{block content}

        <!-- NAVIGATION BAR (unregistered/not signed in user) -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" n:href=":Admin:Sign:out">Odhlásit se</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active mx-3" aria-current="page"
                                                href="./admin.html">Poptávky</a></li>
                        <li class="nav-item"><a class="nav-link active mx-3" aria-current="page"
                                                href="./adm-products.html">Produkty</a></li>
                        <li class="nav-item"><a class="nav-link active mx-3" aria-current="page" href="#"
                                                onclick="notImplemented()">Nástěnka</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {snippet flashes}
        <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
            {$flash->message}
        </div>
    {/snippet}
        <!-- HEADER 1 -->
        <header class="py-3">
            <div class="container px-lg-5">
                <div class="p-2 mr-5 rounded-3 ">
                    <h3 class="display-8 fw-bold">Poptávky připravené k v vyzvednutí:</h3>

                </div>
                <div class="container px-4 px-lg-5 mt-5">
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 ">
                        <!-- CARD WITH DEMANDS  -->
                        {varType App\Entity\Demand[] $demands}
                        {foreach $demands as $demand}
                            {if $demand->getQuantity() == $demand->getReady()}
                                <div class="col mb-5">

                                        <div class="card h-100">

                                            <!-- Sale badge-->

                                            <!-- <div class="badge bg-danger text-white position-absolute"
                                                style="top: 0.5rem; right: 0.5rem">Akútne</div> -->

                                            <!-- Product image-->

                                            <img class="card-img-top" src="/{$demand->getProduct()->getImage()}" alt="..." />
                                            <!-- Product details-->
                                            <div class="card-body py-0">
                                                <div class="text-center">
                                                    <!-- Product name-->
                                                    <h5 class="fw-bolder text-dark text-prize">{$demand->getProduct()->getName()}</h5>
                                                    <!-- Product price-->
                                                    <span class="text-dark text-prize ">${$demand->getProduct()->getPrice()}</span>
                                                </div>
                                            </div>
                                            <!-- TODO upravit aby vypisovalo pocet kusu -->
                                            <div class="text">
                                                <p class="fw-bolder text-dark mx-3 my-3">Počet: {$demand->getReady()}</p>
                                            </div>


                                        </div>

                                </div>
                            {/if}
                        {/foreach}
                        <!-- END OF CARD -->
                    </div>
                </div>
            </div>
        </header>



        <div class="container">
            <!-- Button trigger modal  -->
            <button type="button" class="btn btn-dark my-3" data-bs-toggle="modal"
                    data-bs-target="#newDemandModal">Nová poptávka</button>

        </div>
        <!-- HEADER 2 -->
        <header class="py-3 mt-4">
            <div class="container mt-4">
                <div class="mr-5 rounded-3 ">
                    <h3 class="display-8 fw-bold">Seznam poptávek:</h3>
                </div>
            </div>
        </header>


        <!-- TODO card with finished demand -->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 ">
                    <!-- CARD WITH DEMANDS  -->
                    {varType App\Entity\Demand[] $demands}
                    {foreach $demands as $demand}
                        {if $demand->getQuantity() != $demand->getReady()}
                            <div class="col mb-5">

                                <div class="card h-100">

                                    <!-- Sale badge-->

                                    <!-- <div class="badge bg-danger text-white position-absolute"
                                        style="top: 0.5rem; right: 0.5rem">Akútne</div> -->

                                    <!-- Product image-->

                                    <img class="card-img-top" src="/{$demand->getProduct()->getImage()}" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body py-0">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder text-dark text-prize">{$demand->getProduct()->getName()}</h5>
                                            <!-- Product price-->
                                            <span class="text-dark text-prize ">${$demand->getProduct()->getPrice()}</span>
                                        </div>
                                    </div>
                                    <!-- TODO upravit aby vypisovalo pocet kusu -->
                                    <div class="text">
                                        <p class="fw-bolder text-dark mx-3 my-3">Doposud: {$demand->getReady()}</p>
                                        <p class="fw-bolder text-dark mx-3 my-3">Cíl: {$demand->getQuantity()}</p>
                                    </div>


                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center">
                                            <button type="button" class="btn btn-num-reset btn-outline-dark mt-auto" onclick="setDemandId({$demand->getId()}, {$demand->getReady()},{$demand->getQuantity()}, {$demand->getProduct()->getId()})"
                                                    data-quantity="{$demand->getQuantity()}" data-demand="{$demand->getId()}" data-bs-toggle="modal"
                                                    data-bs-target="#updateDemandModal">Upravit poptávku</button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        {/if}
                    {/foreach}
                    <!-- END OF CARD -->
                </div>
            </div>
        </section>






    <!-- Modal -->
    <div class="modal fade" id="updateDemandModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upravit poptávua</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="form-createDemand" n:name=updateDemand>
                    <div class="modal-body">
                        {varType App\Entity\Foundation $foundation}
                        <input n:name="foundation" type="hidden" id="foundation"  value="{$foundation->getId()}"/>
                        <input n:name="demand" type="hidden" id="current_demand"  value=""/>

                        <label for="floatingInput" class="text-muted">Název produktu</label>
                        <select n:name="product" id="product_select" class="form-select mb-3" aria-label="Default select example">
                            {varType App\Entity\Product[] $products}
                            {foreach $products as $product}
                                <option value="{$product->getId()}">{$product->getName()}</option>
                            {/foreach}
                        </select>
                        <div class="form-outline">
                            <label for="floatingInput" class="text-muted">Počet kusů</label>
                            <input n:name="quantity" type="number" id="quantity_input" min="1" max="20" class="form-control" />
                        </div>

                    </div>
                    <div class="modal-footer ">

                        <button  n:name="delete" type="submit" class="btn btn-primary" id="deleteDemand">Zrušit</button>
                        <button  n:name="update" type="submit" class="btn btn-primary" id="updateDemand">Uložit</button>

                </div>
                </form>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="newDemandModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nová poptávka</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="form-createDemand" n:name=createDemand>
                    <div class="modal-body">
                        {varType App\Entity\Foundation $foundation}
                        <input n:name="foundation" type="hidden" id="foundation"  value="{$foundation->getId()}"/>

                        <label for="floatingInput" class="text-muted">Název produktu</label>
                        <select n:name="product" id="product_select" class="form-select mb-3" aria-label="Default select example">
                            {varType App\Entity\Product[] $products}
                            {foreach $products as $product}
                                <option value="{$product->getId()}">{$product->getName()}</option>
                            {/foreach}
                        </select>
                        <div class="form-outline">
                            <label for="floatingInput" class="text-muted">Počet kusů</label>
                            <input n:name="quantity" value="1" type="number" id="create_quantity_input" min="1" max="20" class="form-control" />
                        </div>

                    </div>
                    <div class="modal-footer ">

                        <button  n:name="submit" type="submit" class="btn btn-primary" id="updateDemand">Uložit</button>

                    </div>
                </form>
            </div>

        </div>
    </div>

{/block}