<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{$basePath}/css/style.css" />
    <title>{include title} - Stranka</title>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.0.min.js"></script>

</head>
<body>

<!-- WHOLE LAYOUT CONTAINER  -->
<div class="container">

    <!-- NAVIGATION BAR (unregistered/not signed in user) -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            {if $user->isLoggedIn()}
                <a class="navbar-brand" n:href=":Front:Sign:out">Odhlásit se</a>
            {else}
                <a class="navbar-brand" n:href=":Front:Sign:in">Přihlásit se</a>
            {/if}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" n:href=":Front:Homepage:default">Domov</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark mx-3 " id="navbarDropdown" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Nadace</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" n:href=":Front:Foundation:default">Zobrazit všechny</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            {varType App\Entity\Foundation[] $foundations}

                            <li n:foreach="$foundations as $foundation"><a class="dropdown-item" n:href=":Front:Foundation:detail $foundation->getId()">{$foundation->getName()}</a></li>


                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <a class="btn btn-outline-dark" n:href=":Front:Basket:default" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Košík
                        <span id="items_in_basket" class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </a>
                </form>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-12">
            <div class="flashBox">
                {snippet flashes}
                    <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
                        {$flash->message}
                    </div>
                {/snippet}
            </div>
        </div>
    </div>
    {include content}
    <!-- BLACK PARAGRAPH-->
    <div class="card text-white bg-dark my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">Pokud máte zájem zaregistrovat svou nadaci, napište nám na info@ourWebsite.com</p>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="sticky-footer bg-white my-5">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Our Website 2021</span>
            </div>
        </div>
    </footer>

</div>

<script type="text/javascript" src="{$basePath}/js/scripts.js"></script>


</body>
</html>
