{block title}
    Po přihlášení
{/block}
{varType App\Entity\Foundation[] $foundations}
{block content}
    <!-- HEADER -->
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 mx-5  bg-light rounded-3 text-center">
                <h1 class="display-5 fw-bold">Nadace, kterým můžete pomoct.</h1>
            </div>
        </div>
    </header>

    <!-- CONTENT -->
    <div class="row">

        <!-- one card -->
        <div n:foreach="$foundations as $foundation" class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <img src="/{$foundation->getImage()}" class="card-img-top" alt="..." />
                </div>
                <div class="card-footer text-center"><a class="btn btn-dark btn-lg"
                            n:href=":Front:Foundation:detail $foundation->getId()">{$foundation->getName()}</a>
                </div>
            </div>
        </div>
        <!-- end of one card -->



    </div>
    <!-- END CONTENT -->

{/block}