{block title}
    Po přihlášení
{/block}
{varType App\Entity\Foundation $found}
{varType App\Entity\Demand[] $demands}
{block content}
    <!-- HEADER 1 -->
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 mx-5  bg-light rounded-3 text-center">
                <h1 class="display-5 fw-bold">{$found->getName()}</h1>
            </div>
        </div>
    </header>

    <!-- SECTION 1 - shelter description -->
    <section class="py-3 ">
        <div class="card-body">
            <p class="text-dark ">{$found->getDescription()}</p>
        </div>
    </section>


    <!-- FOTO CAROUSEL -->
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/{$found->getImage()}"
                     class="d-block w-100 h-50 " alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- HEADER 2 -->
    <header class="py-3 ">
        <div class="card-body">
            <h1 class="text-dark ">Potřebujeme:</h1>
        </div>
    </header>
    <!-- SECTION 2 - demands-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 ">
                <!-- CARD WITH DEMANDS  -->
                {foreach $demands as $demand}
                    {if $demand->getQuantity() != $demand->getReady()}
                        <div class="col mb-5">

                            <div class="card h-100">
                                <input type="hidden" name="demand_id" value="{$demand->getId()}">
                                <input type="hidden" name="product_id" value="{$demand->getProduct()->getId()}">
                                <!-- Sale badge-->

                                <!-- <div class="badge bg-danger text-white position-absolute"
                                    style="top: 0.5rem; right: 0.5rem">Akútne</div> -->

                                <!-- Product image-->

                                <img class="card-img-top" src="/{$demand->getProduct()->getImage()}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body py-0">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder text-dark text-prize">{$demand->getProduct()->getName()}</h5>
                                        <!-- Product price-->
                                        <span class="text-dark text-prize ">${$demand->getProduct()->getPrice()}</span>
                                    </div>
                                </div>
                                <!-- TODO upravit aby vypisovalo pocet kusu -->
                                <div class="text">
                                    <p class="fw-bolder text-dark mx-3 my-3">Doposud: {$demand->getReady()}</p>
                                    <p class="fw-bolder text-dark mx-3 my-3">Cíl: {$demand->getQuantity()}</p>
                                </div>


                                <!-- Button inc/dec  -->
                                <div class="center">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-number btn-secondary" data-type="minus"
                                                    data-field="quantity">
                                                <!-- button minus -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                                    <path
                                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                    <path
                                                            d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                                </svg>
                                            </button>
                                        </span>
                                        <input type="text" name="quantity" class="form-control " value="1"
                                               min="1" max="{$demand->getQuantity()}">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-number btn-secondary" data-type="plus"
                                                    data-field="quantity">
                                                <!-- button plus -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                                    <path
                                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                    <path
                                                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                                </svg>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-num-reset btn-outline-dark mt-auto "
                                                data-field="quant[1]" data-bs-toggle="modal"
                                                data-bs-target="#addToBasket" onclick="addToBasket(this)">Přidat do
                                            košíku</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    {/if}
                {/foreach}
                <!-- END OF CARD -->
            </div>
        </div>
    </section>
    <!-- MODAL - pokracovat v nakupu -->
    <div class="modal fade" data-bs-backdrop="static" id="addToBasket" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Produkt byl přidán do košíku.</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <a type="button" class="btn btn-secondary" data-bs-dismiss="modal" href="#">Pokračovat v
                        nákupu</a>
                    <a type="button" class="btn btn-primary" n:href=":Front:Basket:default">Prohlédnout košík</a>
                </div>
            </div>
        </div>
    </div>
{/block}