{block title}
    Po přihlášení
{/block}

{block content}
    <div n:if="!empty($orders)" class="container p-4 pb-0">

        <div class="p-4 pt-0 border-top-0 bg-transparent text-end mr-5">
            <button onclick="updateProductsAmount()" type="button" class="btn btn-info mt-auto " data-field="quant[1]" data-bs-toggle="modal" data-bs-target="#payment">Zaplatit</button>
        </div>

        <table class="table">
            <thead>
            <tr>
                <td>Jméno</td>
                <td>Množství</td>
                <td>Cena za ks</td>
                <td>Cena dohromady</td>
                <td>Nadace</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {varType array $orders}
            {var $iter = 0}



            {foreach $orders as $order}
                {if $order}
                    <tr>

                        {var App\Entity\Demand $demand = $order->demand}
                        <input type="hidden" id="{$demand->getId()}_start_quantity_val_{$iter}" value="{$order->quantity}">
                        <td>{$demand->getProduct()->getName()}</td>
                        <td><input min=1 id="{$demand->getId()}_quantity_val_{$iter}" type="number" value="{$order->quantity}"
                                   onchange="updateBasket(this, {$iter},{$demand->getId()}, {$demand->getProduct()->getPrice()},{$order->quantity})"></td>
                        <td>{$demand->getProduct()->getPrice()} Kč</td>
                        <td><span id="{$demand->getId()}_price_val_{$iter}">{$order->price}</span> Kč</td>
                        <td>{$order->foundation->getName()}</td>
                        <td><button type="button" onclick="removeFromBasket(this, {$iter++},{$demand->getId()})" class="btn btn-danger">Odebrat</button></td>

                    </tr>
                {/if}
            {/foreach}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Celkem: <span id="final_price">{$final_price}</span> Kč</b></td>
            </tr>

            </tbody>
        </table>


    </div>

    <!-- MODAL - Payment-->
    <div class="modal fade" data-bs-backdrop="static" id="payment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Vytvořit objednávku</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>Po vytvoření budete přesměrován(a) na platební bránu</li>
                        <li><b>Celkem: <span id="final_basket_price">{$final_price}</span> Kč</b></li>
                    </ul>
                    <form n:name=createOrder>
                        {varType App\Entity\User $user_info}
                        <input n:name="demand" type="hidden" id="cart_demand_id"  value="{$demand_id}"/>
                        <input n:name="final_price" type="hidden" id="final_basket_price_input"  value="{$final_price}"/>
                        <input n:name="products_amount" type="hidden" id="products_amount"  value="{$products_amount}"/>
                        <div class="form-group">
                            <label for="customerName" class="form-label">Jméno</label>
                            <input n:name="first_name" type="text" id="customerName" class="form-control" value="{$user_info->getFirstName()}" required>
                        </div>
                        <div class="form-group">
                            <label for="customerSurname" class="form-label">Příjmení</label>
                            <input  n:name="second_name" type="text" id="customerSurname" class="form-control" value="{$user_info->getSecondName()}" required>
                        </div>
                        <div class="form-group">
                            <label for="customerEmail">Email</label>
                            <input  n:name="email" type="email" id="customerEmail" class="form-control" value="{$user_info->getEmail()}" required>
                        </div>

                        <div class="form-group mt-5">
                            <button n:name="submit" onclick="createOrder()" type="submit" class="btn btn-success" >Vytvořit objednávku</button>
                            <button type="cancel" class="btn btn-danger" data-bs-dismiss="modal" href="#">Zrušit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{/block}