
[class*="col"]{
    padding: 1rem;
    background-color: #fff;
    border: 2px solid #fff;
    color: #fff;
}
.btn-style{
    margin-left: 5em;
    margin-right: 5em;
    background-color: lightgrey;
    
}

body{
    margin-left: 5em;
    margin-right: 5em;
    background-color: whitesmoke;
}
.container{
    background-color: #fff;
}
.h1{
    text-decoration-color: black;
}
.center{
    
    width: 150px;
        margin: 40px auto;
        

}

#demand {
    background-color: grey;
    padding: 10px;
    width: 100%;
}

.dem {
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 5%;
    outline-width: 2em;
}
.text-prize{
    font-size: 0.65cm;
}