{block title}
    Po přihlášení
{/block}

{block content}
    <header class="container px-4 px-lg-5">

        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-5 ">
                <h1 class="display-5 fw-bold text-dark ">Pomozte zvířatům bez domova.</h1>
                <p class="fs-4 text-dark">Staňte se pravidelným přispívatelem pro zvířata, kterým se nedaří najít stálý domov.
                </p>
                <a class="btn btn-dark btn-lg mx-3" n:href=":Front:Foundation:default">Chci přispět</a>
                <a class="btn btn-dark btn-lg mx-3" n:href=":Front:Registration:default">Registrace</a>

            </div>
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                                       src="https://www.thesprucepets.com/thmb/HzjkDNlThXjKwP1dcNPL6R-WI8c=/1137x853/smart/filters:no_upscale()/shelter-training-115895910-resized-56a26a8d3df78cf772755f29.jpg"
                                       alt="..." /></div>
        </div>
    </header>
{/block}